div.code pre .hll { background-color: #ffffcc }
div.code pre  { background: #ffffff; }
div.code pre .c { color: #888888; font-style: italic } /* Comment */
div.code pre .err { background-color: #a848a8 } /* Error */
div.code pre .k { color: #2838b0 } /* Keyword */
div.code pre .o { color: #666666 } /* Operator */
div.code pre .p { color: #888888 } /* Punctuation */
div.code pre .ch { color: #287088; font-style: italic } /* Comment.Hashbang */
div.code pre .cm { color: #888888; font-style: italic } /* Comment.Multiline */
div.code pre .cp { color: #289870 } /* Comment.Preproc */
div.code pre .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
div.code pre .c1 { color: #888888; font-style: italic } /* Comment.Single */
div.code pre .cs { color: #888888; font-style: italic } /* Comment.Special */
div.code pre .gd { color: #c02828 } /* Generic.Deleted */
div.code pre .ge { font-style: italic } /* Generic.Emph */
div.code pre .gr { color: #c02828 } /* Generic.Error */
div.code pre .gh { color: #666666 } /* Generic.Heading */
div.code pre .gi { color: #388038 } /* Generic.Inserted */
div.code pre .go { color: #666666 } /* Generic.Output */
div.code pre .gp { color: #444444 } /* Generic.Prompt */
div.code pre .gs { font-weight: bold } /* Generic.Strong */
div.code pre .gu { color: #444444 } /* Generic.Subheading */
div.code pre .gt { color: #2838b0 } /* Generic.Traceback */
div.code pre .kc { color: #444444; font-style: italic } /* Keyword.Constant */
div.code pre .kd { color: #2838b0; font-style: italic } /* Keyword.Declaration */
div.code pre .kn { color: #2838b0 } /* Keyword.Namespace */
div.code pre .kp { color: #2838b0 } /* Keyword.Pseudo */
div.code pre .kr { color: #2838b0 } /* Keyword.Reserved */
div.code pre .kt { color: #2838b0; font-style: italic } /* Keyword.Type */
div.code pre .m { color: #444444 } /* Literal.Number */
div.code pre .s { color: #b83838 } /* Literal.String */
div.code pre .na { color: #388038 } /* Name.Attribute */
div.code pre .nb { color: #388038 } /* Name.Builtin */
div.code pre .nc { color: #287088 } /* Name.Class */
div.code pre .no { color: #b85820 } /* Name.Constant */
div.code pre .nd { color: #287088 } /* Name.Decorator */
div.code pre .ni { color: #709030 } /* Name.Entity */
div.code pre .ne { color: #908828 } /* Name.Exception */
div.code pre .nf { color: #785840 } /* Name.Function */
div.code pre .nl { color: #289870 } /* Name.Label */
div.code pre .nn { color: #289870 } /* Name.Namespace */
div.code pre .nt { color: #2838b0 } /* Name.Tag */
div.code pre .nv { color: #b04040 } /* Name.Variable */
div.code pre .ow { color: #a848a8 } /* Operator.Word */
div.code pre .w { color: #a89028 } /* Text.Whitespace */
div.code pre .mb { color: #444444 } /* Literal.Number.Bin */
div.code pre .mf { color: #444444 } /* Literal.Number.Float */
div.code pre .mh { color: #444444 } /* Literal.Number.Hex */
div.code pre .mi { color: #444444 } /* Literal.Number.Integer */
div.code pre .mo { color: #444444 } /* Literal.Number.Oct */
div.code pre .sb { color: #b83838 } /* Literal.String.Backtick */
div.code pre .sc { color: #a848a8 } /* Literal.String.Char */
div.code pre .sd { color: #b85820; font-style: italic } /* Literal.String.Doc */
div.code pre .s2 { color: #b83838 } /* Literal.String.Double */
div.code pre .se { color: #709030 } /* Literal.String.Escape */
div.code pre .sh { color: #b83838 } /* Literal.String.Heredoc */
div.code pre .si { color: #b83838; text-decoration: underline } /* Literal.String.Interpol */
div.code pre .sx { color: #a848a8 } /* Literal.String.Other */
div.code pre .sr { color: #a848a8 } /* Literal.String.Regex */
div.code pre .s1 { color: #b83838 } /* Literal.String.Single */
div.code pre .ss { color: #b83838 } /* Literal.String.Symbol */
div.code pre .bp { color: #388038; font-style: italic } /* Name.Builtin.Pseudo */
div.code pre .vc { color: #b04040 } /* Name.Variable.Class */
div.code pre .vg { color: #908828 } /* Name.Variable.Global */
div.code pre .vi { color: #b04040 } /* Name.Variable.Instance */
div.code pre .il { color: #444444 } /* Literal.Number.Integer.Long */

table.code td .hll { background-color: #ffffcc }
table.code td  { background: #ffffff; }
table.code td .c { color: #888888; font-style: italic } /* Comment */
table.code td .err { background-color: #a848a8 } /* Error */
table.code td .k { color: #2838b0 } /* Keyword */
table.code td .o { color: #666666 } /* Operator */
table.code td .p { color: #888888 } /* Punctuation */
table.code td .ch { color: #287088; font-style: italic } /* Comment.Hashbang */
table.code td .cm { color: #888888; font-style: italic } /* Comment.Multiline */
table.code td .cp { color: #289870 } /* Comment.Preproc */
table.code td .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
table.code td .c1 { color: #888888; font-style: italic } /* Comment.Single */
table.code td .cs { color: #888888; font-style: italic } /* Comment.Special */
table.code td .gd { color: #c02828 } /* Generic.Deleted */
table.code td .ge { font-style: italic } /* Generic.Emph */
table.code td .gr { color: #c02828 } /* Generic.Error */
table.code td .gh { color: #666666 } /* Generic.Heading */
table.code td .gi { color: #388038 } /* Generic.Inserted */
table.code td .go { color: #666666 } /* Generic.Output */
table.code td .gp { color: #444444 } /* Generic.Prompt */
table.code td .gs { font-weight: bold } /* Generic.Strong */
table.code td .gu { color: #444444 } /* Generic.Subheading */
table.code td .gt { color: #2838b0 } /* Generic.Traceback */
table.code td .kc { color: #444444; font-style: italic } /* Keyword.Constant */
table.code td .kd { color: #2838b0; font-style: italic } /* Keyword.Declaration */
table.code td .kn { color: #2838b0 } /* Keyword.Namespace */
table.code td .kp { color: #2838b0 } /* Keyword.Pseudo */
table.code td .kr { color: #2838b0 } /* Keyword.Reserved */
table.code td .kt { color: #2838b0; font-style: italic } /* Keyword.Type */
table.code td .m { color: #444444 } /* Literal.Number */
table.code td .s { color: #b83838 } /* Literal.String */
table.code td .na { color: #388038 } /* Name.Attribute */
table.code td .nb { color: #388038 } /* Name.Builtin */
table.code td .nc { color: #287088 } /* Name.Class */
table.code td .no { color: #b85820 } /* Name.Constant */
table.code td .nd { color: #287088 } /* Name.Decorator */
table.code td .ni { color: #709030 } /* Name.Entity */
table.code td .ne { color: #908828 } /* Name.Exception */
table.code td .nf { color: #785840 } /* Name.Function */
table.code td .nl { color: #289870 } /* Name.Label */
table.code td .nn { color: #289870 } /* Name.Namespace */
table.code td .nt { color: #2838b0 } /* Name.Tag */
table.code td .nv { color: #b04040 } /* Name.Variable */
table.code td .ow { color: #a848a8 } /* Operator.Word */
table.code td .w { color: #a89028 } /* Text.Whitespace */
table.code td .mb { color: #444444 } /* Literal.Number.Bin */
table.code td .mf { color: #444444 } /* Literal.Number.Float */
table.code td .mh { color: #444444 } /* Literal.Number.Hex */
table.code td .mi { color: #444444 } /* Literal.Number.Integer */
table.code td .mo { color: #444444 } /* Literal.Number.Oct */
table.code td .sb { color: #b83838 } /* Literal.String.Backtick */
table.code td .sc { color: #a848a8 } /* Literal.String.Char */
table.code td .sd { color: #b85820; font-style: italic } /* Literal.String.Doc */
table.code td .s2 { color: #b83838 } /* Literal.String.Double */
table.code td .se { color: #709030 } /* Literal.String.Escape */
table.code td .sh { color: #b83838 } /* Literal.String.Heredoc */
table.code td .si { color: #b83838; text-decoration: underline } /* Literal.String.Interpol */
table.code td .sx { color: #a848a8 } /* Literal.String.Other */
table.code td .sr { color: #a848a8 } /* Literal.String.Regex */
table.code td .s1 { color: #b83838 } /* Literal.String.Single */
table.code td .ss { color: #b83838 } /* Literal.String.Symbol */
table.code td .bp { color: #388038; font-style: italic } /* Name.Builtin.Pseudo */
table.code td .vc { color: #b04040 } /* Name.Variable.Class */
table.code td .vg { color: #908828 } /* Name.Variable.Global */
table.code td .vi { color: #b04040 } /* Name.Variable.Instance */
table.code td .il { color: #444444 } /* Literal.Number.Integer.Long */